
<div class="container mt-5">
  <!-- <h2>Login</h2> -->
  <div class="panel panel-default">
    <div class="panel-heading">
        <span>Contacts</span>
        <span style="float:right; margin-top:-0.5em;">
            <a class="btn btn-primary" href="contacts/create">New</a>
        </span>
    </div>
    <div class="panel-body">
      <table *ngIf="contacts" class="table">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts.records ">
              <td >
                {{contact.Name}}
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>